body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

/* Login.css */
.login-container {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;    
  }
  
  .login-form-container {
    width: 20%;    
    padding: 55px;
    margin: 0px 100px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.15);
    margin-bottom: -250px;
    position: absolute;
  }
  
  .login-header {
    text-align: center;
    margin-bottom: 24px;
    font-size: 24px;
  }
  
  .login-input {
    border-radius: 5px;
  }
  
  .login-button {
    border-radius: 5px;
  }
  .login-button {
    border-radius: 4px;
  }

  .anticon-user svg{
    color: #587f85;
  }
  .anticon-lock svg{
    color: #587f85;
  }

/* Login.css */
/* Resto de los estilos como en versiones anteriores */

.login-header {
  text-align: center;
  margin-bottom: 24px;
}

.logo {
  max-width: 150px;
  margin-bottom: 20px;
  box-shadow: 4px 4px 6px rgb(88 127 133 / 27%);
}

.login-title {
  font-size: 24px;
  margin: 0px;
  color: #0a4b55;   
}



:where(.css-dev-only-do-not-override-nnuwmp).ant-btn-primary {
  background-color: #0a4b55;
}
:where(.css-dev-only-do-not-override-nnuwmp).ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover {
  background-color: #265259e8;
}
:where(.css-dev-only-do-not-override-nnuwmp).ant-btn:not(:disabled):focus-visible {
  outline: 4px solid #0a4b5536;
}

:where(.css-dev-only-do-not-override-nnuwmp).ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border-color: #587f85;
}
:where(.css-dev-only-do-not-override-nnuwmp).ant-btn-primary:not(:disabled):not(.ant-btn-disabled):active{
  background-color: #265259e8;
}

:where(.css-dev-only-do-not-override-nnuwmp).ant-input-affix-wrapper:focus, :where(.css-dev-only-do-not-override-nnuwmp).ant-input-affix-wrapper-focused{
  border-color: #3e99a7;
}


.bg_color{
  width: 100%;
  height: 40%;
  background: #2196f3;
  position: absolute;
  top: 0;
}

.wave{
  width: 300%;
  height: 80%;
  position: fixed;  
  left: 0;
  background-image: url(../../assets/img-svg/ondasImg.svg);
  background-position: bottom;
}

.img-login{
  position: absolute;
  width: 100%;
  top: 14.9%;
}
.img-logo {
  max-width: 685px;
  margin-left: 20px;
  opacity: 0.7;
}

.w1{
  animation: w1 7s linear infinite;
}

.w2{
  animation: w2 7s linear infinite;
}

@keyframes w1 {
  0%{
    margin-left: 0;
  }
  100%{
    margin-left: -1600px;
  }
}

@keyframes w2 {
  0%{
    margin-left: 0;
  }
  100%{
    margin-left: -1600px;
  }
}

/* Spinner */
.sppiner{
  width: 100%;
  text-align: center;
  height: 100vh;
  justify-content: center;
  align-items: center; 
}

.sppiner > span{
  display: inline-block;
  width: 45px !important;
  height: 45px !important;
  margin: 2.1px !important;
  animation: 0.11s linear 0s infinite normal both running;
}

/*---------Spiner ---------------*/
:where(.css-dev-only-do-not-override-nnuwmp).ant-spin-nested-loading .ant-spin-blur::after {
  opacity: 0;
  pointer-events: auto;
}

:where(.css-dev-only-do-not-override-nnuwmp).ant-spin .ant-spin-dot-spin{
  visibility: hidden;
}

:where(.css-dev-only-do-not-override-nnuwmp).ant-spin-nested-loading .ant-spin-blur{
  opacity: 1;
}

.ant-spin-blur {
  clear: both;
  overflow: hidden;
  opacity: 10;
  -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  cursor: wait;  
}
:where(.css-dev-only-do-not-override-nnuwmp).ant-btn-primary {
  color: #fff;
  background-color: #0a4b55;
  box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
}