
.ht_clone_top > .wtHolder > .wtHider > .wtSpreader > table.htCore{
  width: 100% !important;
}

.componente-handsontable > .handsontable > .ht_master > .wtHolder > .wtHider > .wtSpreader > table.htCore{
  width: 100% !important;
}


.handsontable_htLeft {
  text-align: left;
}
.handsontable_htCenter {
  text-align: center;
}
.handsontable_htRight {
  text-align: right;
}

.handsontable-upper{
  text-transform: uppercase;
}

.handsontable_right .area-row .current .highlight {
  font-size: 0px;
}

.handsontable th {
  background-color: #cccccc !important;
  color: #000000bd !important;
  font-weight: bold;
  font-size: 12px !important;
}
 
.handsontable td{
  background-color: #1f2d3a00;
}

.handsontable td, .handsontable th{
  background: none;
}

.handsontable tr{
  background: transparent;
}


.handsontable td, .handsontable th {
  /* background-color: #374858; */
  /* background-color: #37485800; */
  border-bottom: 1px solid #ffffff2b;
  border-right: 1px solid #ffffff2b;
  color: #e1e1e1;
  font-size: 11px;
}

#site-content[data-theme="light"]
.handsontable td, .handsontable th {
  background-color: #e9e9e9;
  border-bottom: 1px solid #432d2d2b;
  border-right: 1px solid #432d2d2b;
  color: #000000;
}

.handsontable td:first-of-type, .handsontable th:first-child, .handsontable th:nth-child(2) {
  border-left: 1px solid #ffffff2b;
}

#site-content[data-theme="light"]
.handsontable td.area-row {
  background: #b9b9b980;
}

.handsontable td.area-row {
  background: #4e5e6d;
}

.handsontable tr td {
  border-bottom: 1px solid #ffffff1a;
}

#site-content[data-theme="light"]
.handsontableInput {
  background-color: #f7f7f7ed;
  color: #000000;
}

.handsontableInput {
  background-color: #4e5e6d;
  color: #ffffff;
}

.wtBorder{
  background-color: #1890ffa3 !important;
}

.ht_clone_master {
  background: #4e5e6d;
  box-shadow: inset 1px 1px 0 1px #1890ffa3;
}

.highlighted-cell {
  background-color: blue !important;
  color: white !important;
  font-weight: bold;
}


.ht_master .wtHolder {
  overflow-x: hidden;
}  

/* Estilos para ocultar la barra de desplazamiento en Chrome y Firefox */
/********************************** Estilos para Chrome ********************************************************************/
.handsontable .wtHolder::-webkit-scrollbar {
  width: -1px;
}

.handsontable .wtHolder::-webkit-scrollbar-thumb {
  background-color: #888;
}

/******************************* Estilos para Firefox *********************************************************************/
.handsontable .wtHolder {
  scrollbar-width: none;
}

.handsontable .wtHolder::-webkit-scrollbar-thumb {
  background-color: #888;
}

.handsontable .wtHider.hScrollbar {
  display: none !important;
}

.handsontable .wtHider.hScrollbar + .wtHolder {
  bottom: 0 !important;
}

/**************************************************************************************************************************/
/*************************** contextMenu ***************************/

.htContextMenu .ht_master table.htCore{
  border-color: #fff0;
}

.htContextMenu table tbody tr td.current, .htContextMenu table tbody tr td.zeroclipboard-is-hover {
  background: #d3d2d2;
  color: black;
}
.htContextMenu table tbody tr td{
  color: black; 
}
.htContextMenu table tbody tr td .htItemWrapper{
  font-size: 14px;
  padding: 6px;
}

.htContextMenu .htCore,.wtHider,.wtHolder,.wtSpreader, .ht_clone_top{
  width: auto !important; 
}


.htContextMenu table tbody tr td.htDisabled:hover {
  background: #4e5e6d3d;
  color: #918c8c;
  cursor: default;
}

/* .htContextMenu, table tbody tr td.current, .htContextMenu table tbody tr td.zeroclipboard-is-hover { */
  /* background: #4e5e6d3d; */
  /* color: #000000; */
/* } */

/**************************************************************************************************************************/
/*************************** filters ***************************/

.htUIMultipleSelectHot{
  border: transparent !important;
  background: white !important;
}
.htUIMultipleSelectHot > .ht_master, .ht_clone_top, .ht_clone_bottom, .ht_clone_left {
  background: transparent !important;
  border: transparent !important;
}

.htDropdownMenu .htCore,.wtHider,.wtHolder,.wtSpreader, .ht_clone_top{
  width: auto !important; 
}

.htDropdownMenu .ht_master table.htCore{
  border-color: #fff0;
}

.htDropdownMenu table tbody tr td{
  color: black; 
}
.htDropdownMenu table tbody tr td .htItemWrapper{
  font-size: 14px;
}

.htDropdownMenu .htCore,.wtHider,.wtHolder,.wtSpreader, .ht_clone_top{
  width: auto !important; 
}

.htDropdownMenu table tbody tr td.htDisabled:hover {
  background: #4e5e6d3d;
  color: #918c8c;
  cursor: default;
}

.handsontable .htFiltersMenuLabel {
  font-size: 0.91em;
  font-weight: bold;
  color: #8d8d8d;
}

.handsontable .htUIClearAll a, .handsontable .htUISelectAll a {
  font-size: 0.85em;
  font-weight: bold;
}
.handsontable .htFiltersMenuCondition .htUIInput input, .handsontable .htFiltersMenuValue .htUIMultipleSelectSearch input{
  font-size: 0.85em;
  font-weight: bold;
}

.handsontable span.colHeader.withStyles.columnSorting:before{
  right: 0% !important;
  left: -12px;
}

.handsontable .htFiltersActive .changeType {
  border: 1px solid #32445530;
  color: #ffffff;
  background-color: #85848473;
}

.handsontable td.htSearchResult {
  background: #536477;
  color: #ffffffc4;
}
/* ---------------------  button select ----------------------------- */
.htSelectEditor{
  background: #4e5e6d;
  color: #ffffffed;
  font-size: 11px
}
.htSelectEditor > option{
  background: #6c7986;
  color: white;
}
/* ---------------------  opcion ----------------------------- */
select.ht_editor_visible{
  border-color: #1890ff;
}

.handsontable .wtSpreader{
  color: #f0f8ffcc;
}

.handsontable.listbox tr:hover td, .handsontable.listbox tr td.current {
  background: #4e5e6d;
  color: white;
}

.handsontable.listbox tr:hover td {
  background: #737b83;
  color: white;
}

.handsontable.listbox td, .handsontable.listbox th, .handsontable.listbox tr:first-child td, .handsontable.listbox tr:first-child th, .handsontable.listbox tr:last-child th {
  border-color: #fdfdfd4d;
}

.handsontable.listbox .ht_master table {
  border-right: 1px solid #dcdcdc !important;
}

.handsontable .htAutocompleteArrow {
  font-size: 9px;
  color: #b7b3b3e8;
}

.handsontable_opcion > .ht_master > .wtHolder > .wtHider > .wtSpreader > .htCore {
  border: 1px solid #898989;
  position: fixed;
  width: auto;
}

.handsontable_opcion > .ht_master > .wtHolder > .wtHider > .wtSpreader > .htCore > tbody > tr > td.handsontable_opcion  {
  background: #2d3b48;
  color: aliceblue;
  font-size: 12px;
}


#site-content[data-theme="light"]
.handsontable_opcion > .ht_master > .wtHolder > .wtHider > .wtSpreader > .htCore > tbody > tr > td.handsontable_opcion  {
  background: #f5f5f5;
}


.handsontable_opcion > .ht_master > .wtHolder > .wtHider > .wtSpreader > .htCore > tbody > tr > td.handsontable_opcion:hover {
  background: #4e5e6d;
  color: white;
}

#site-content[data-theme="light"]
.handsontable_opcion > .ht_master > .wtHolder > .wtHider > .wtSpreader > .htCore > tbody > tr > td.handsontable_opcion:hover {
  background: #cccccc !important;
  color: black;
}

#site-content[data-theme="light"]
.handsontable_opcion > .ht_master > .wtHolder > .wtHider > .wtSpreader > .htCore > tbody > tr > td.current {
  background: #cccccc !important;
  color: black;
}
 

.handsontable_opcion > .ht_master > .wtHolder > .wtHider > .wtSpreader > .htCore > tbody > tr > td.current {
  background: #4e5e6d;
  color: white;
}

/* ---------------------  button search ----------------------------- */
#newIconoLupa-img-2{
  width: 15px;
  margin: 0px 5px;
  margin-top: -1px;
}

#newIconoLupa-img{
  width: 15px;
  margin: 0px 5px;
  float: left;
  margin-top: -1px;
}

.button-iconSearch{
  color: rgb(0 0 0 / 69%);
  border: 0px;
  height: 24px;
  margin: 0px 2px 0px;
  padding: 0px;
  background: transparent;
  line-height: 1.75;
  border-radius: 1px;
  text-transform: none;
  font-weight: bold;
  font-size: 12px;  
}

.button-iconSearch:hover {
  text-decoration: none;
  background-color: rgb(165 165 165 / 27%);
}

.handsontable .htCheckboxRendererInput {
  height: 16px;
  width: 16px;
}

.htCheckboxRendererLabel input.htCheckboxRendererInput {
  margin-right: 5px;
}

/* .htCheckboxRendererInput {
  accent-color: #bdc6ccbf; */
/* } */

/* input.htCheckboxRendererInput[type=checkbox]{ */
  /* Double-sized Checkboxes */
  /* -ms-transform: scale(2);  */
  /* -moz-transform: scale(2); */
  /* -webkit-transform: scale(2); */
  /* -o-transform: scale(2);  */
  /* transform: scale(2); */
/* } */

Input.htCheckboxRendererInput {  
  accent-color: #768189 !important;
}

.htCheckboxRendererInput:hover {  
  accent-color: #46525b7e;
}

.htDimmed > .htCheckboxRendererInput{  
  accent-color: #43586fb0;
}

#button_iconsBinoculars{
  width: 100%;
  margin: 0px;
  padding: 0px;
  background: transparent;
  border-color: #76ffff00;
  margin: -1px 0px -2px;
}

#button_iconsBinoculars > img{
  margin: -10px 0px -4px !important;
}

.componente-handsontable{
  position: initial;
  background: #374858;
  padding: 0px 0px 16px;
}

#site-content[data-theme="light"]
.componente-handsontable{  
  background: #cccccc;
}

/* multipleheader */
.handsontable td, .handsontable th, .handsontable th:last-child {
  border-bottom: 1px solid #b5b1b1;
}

.c-red{
  background-color:#792727;
}
/* 
.handsontable div,
.handsontable table, 
.handsontable tbody, 
.handsontable td, 
.handsontable th, 
.handsontable thead {
  -webkit-box-sizing: inherit;
} */

.handsontable tr:has(td.current) {
  background: #4e5e6d !important;
  color: beige;
}
/* .handsontable tr td.current {
  background: #4e5e6d !important;
  color: beige;
} */
#site-content[data-theme="light"]
.handsontable{
  background: #e9e9e900;
}

.handsontable{
  background: #324455;
  border-left: 1px solid #eeeeee30;
  border-bottom: 1px solid #eeeeee30;
  border-right: 1px solid #eeeeee30;
}

.handsontable .unwraptext {
  white-space: nowrap;
  max-width: 0px !important;
}

/******************************************************* RADIO ****************************************************** */
.custom-radio-button_htLeft{ 
  text-align: left;
}
.custom-radio-button_htCenter{
  text-align: center;
}
.custom-radio-button_htRight{
  text-align: right;
}

.custom-radio-button {  
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 2px solid #666;
  background-color: #fff;
  /* margin: 5px; */
}



















/* 
.ht_clone_top > .wtHolder > .wtHider > .wtSpreader > table.htCore{
  width: 100% !important;
}

.componente-handsontable > .handsontable > .ht_master > .wtHolder > .wtHider > .wtSpreader > table.htCore{
  width: 100% !important;
}


.handsontable_htLeft {
  text-align: left;
}
.handsontable_htCenter {
  text-align: center;
}
.handsontable_htRight {
  text-align: right;
}

.handsontable-upper{
  text-transform: uppercase;
}


.handsontable_right .area-row .current .highlight {
  font-size: 0px;
}


.handsontable th {
  background-color: #cccccc !important;
  color: #000000bd !important;
  font-weight: bold;
  font-size: 12px !important;
}


.handsontable .htDimmed {
  color: #c5c9cd;
}
 
.handsontable td{
  background-color: #1f2d3a00;
}

.handsontable td, .handsontable th{
  background: none;
}

.handsontable tr{
  background: transparent;
}


.handsontable td, .handsontable th {
  border-bottom: 1px solid #ffffff2b;
  border-right: 1px solid #ffffff2b;
  color: #e1e1e1;
  font-size: 12px;
}

#site-content[data-theme="light"]
.handsontable td, .handsontable th {
  background-color: #e9e9e9;
  border-bottom: 1px solid #432d2d2b;
  border-right: 1px solid #432d2d2b;
  color: #000000;
}

.handsontable td:first-of-type, .handsontable th:first-child, .handsontable th:nth-child(2) {
  border-left: 1px solid #ffffff2b;
}

#site-content[data-theme="light"]
.handsontable td.area-row {
  background: #b9b9b980;
}

.handsontable td.area-row {
  background: #4e5e6d;
}

.handsontable tr td {
  border-bottom: 1px solid #ffffff1a;
}

#site-content[data-theme="light"]
.handsontableInput {
  background-color: #f7f7f7ed;
  color: #000000;
}

.handsontableInput {
  background-color: #4e5e6d;
  color: #ffffff;
}

.wtBorder{
  background-color: #1890ffa3 !important;
}

.ht_clone_master {
  background: #4e5e6d;
  box-shadow: inset 1px 1px 0 1px #1890ffa3;
}

.highlighted-cell {
  background-color: blue !important;
  color: white !important;
  font-weight: bold;
}


.ht_master .wtHolder {
  overflow-x: hidden;
}   */

/* Estilos para ocultar la barra de desplazamiento en Chrome y Firefox */
/********************************** Estilos para Chrome ********************************************************************/
/* .handsontable .wtHolder::-webkit-scrollbar {
  width: -1px;
}

.handsontable .wtHolder::-webkit-scrollbar-thumb {
  background-color: #888;
} */

/******************************* Estilos para Firefox *********************************************************************/
/* .handsontable .wtHolder {
  scrollbar-width: none;
}

.handsontable .wtHolder::-webkit-scrollbar-thumb {
  background-color: #888;
}

.handsontable .wtHider.hScrollbar {
  display: none !important;
}

.handsontable .wtHider.hScrollbar + .wtHolder {
  bottom: 0 !important;
} */

/**************************************************************************************************************************/
/*************************** contextMenu ***************************/

/* .htContextMenu .ht_master table.htCore{
  border-color: #fff0;
}

.htContextMenu table tbody tr td.current, .htContextMenu table tbody tr td.zeroclipboard-is-hover {
  background: #d3d2d2;
  color: black;
}
.htContextMenu table tbody tr td{
  color: black; 
}
.htContextMenu table tbody tr td .htItemWrapper{
  font-size: 14px;
  padding: 6px;
}

.htContextMenu .htCore,.wtHider,.wtHolder,.wtSpreader, .ht_clone_top{
  width: auto !important; 
} */

/* 
.htContextMenu table tbody tr td.htDisabled:hover {
  background: #4e5e6d3d;
  color: #918c8c;
  cursor: default;
} */

/**************************************************************************************************************************/
/*************************** filters ***************************/
/* 
.htUIMultipleSelectHot{
  border: transparent !important;
  background: white !important;
}
.htUIMultipleSelectHot > .ht_master, .ht_clone_top, .ht_clone_bottom, .ht_clone_left {
  background: transparent !important;
  border: transparent !important;
}

.htDropdownMenu .htCore,.wtHider,.wtHolder,.wtSpreader, .ht_clone_top{
  width: auto !important; 
}

.htDropdownMenu .ht_master table.htCore{
  border-color: #fff0;
}

.htDropdownMenu table tbody tr td{
  color: black; 
}
.htDropdownMenu table tbody tr td .htItemWrapper{
  font-size: 14px;
}

.htDropdownMenu .htCore,.wtHider,.wtHolder,.wtSpreader, .ht_clone_top{
  width: auto !important; 
}

.htDropdownMenu table tbody tr td.htDisabled:hover {
  background: #4e5e6d3d;
  color: #918c8c;
  cursor: default;
}

.handsontable .htFiltersMenuLabel {
  font-size: 0.91em;
  font-weight: bold;
  color: #8d8d8d;
}

.handsontable .htUIClearAll a, .handsontable .htUISelectAll a {
  font-size: 0.85em;
  font-weight: bold;
}
.handsontable .htFiltersMenuCondition .htUIInput input, .handsontable .htFiltersMenuValue .htUIMultipleSelectSearch input{
  font-size: 0.85em;
  font-weight: bold;
}

.handsontable span.colHeader.withStyles.columnSorting:before{
  right: 0% !important;
  left: -12px;
}

.handsontable .htFiltersActive .changeType {
  border: 1px solid #32445530;
  color: #ffffff;
  background-color: #85848473;
}

.handsontable td.htSearchResult {
  background: #536477;
  color: #ffffffc4;
} */
/* ---------------------  button select ----------------------------- */
/* .htSelectEditor{
  background: #4e5e6d;
  color: #ffffffed;
  font-size: 11px
}
.htSelectEditor > option{
  background: #6c7986;
  color: white;
} */
/* ---------------------  opcion ----------------------------- */
/* select.ht_editor_visible{
  border-color: #1890ff;
}

.handsontable .wtSpreader{
  color: #f0f8ffcc;
}

.handsontable.listbox tr:hover td, .handsontable.listbox tr td.current {
  background: #4e5e6d;
  color: white;
}

.handsontable.listbox tr:hover td {
  background: #737b83;
  color: white;
}

.handsontable.listbox td, .handsontable.listbox th, .handsontable.listbox tr:first-child td, .handsontable.listbox tr:first-child th, .handsontable.listbox tr:last-child th {
  border-color: #fdfdfd4d;
}

.handsontable.listbox .ht_master table {
  border-right: 1px solid #dcdcdc !important;
}

.handsontable .htAutocompleteArrow {
  font-size: 9px;
  color: #b7b3b3e8;
}

.handsontable_opcion > .ht_master > .wtHolder > .wtHider > .wtSpreader > .htCore {
  border: 1px solid #898989;
  position: fixed;
}

.handsontable_opcion > .ht_master > .wtHolder > .wtHider > .wtSpreader > .htCore > tbody > tr > td.handsontable_opcion  {
  background: #2d3b48;
  color: aliceblue;
  font-size: 12px;
}


#site-content[data-theme="light"]
.handsontable_opcion > .ht_master > .wtHolder > .wtHider > .wtSpreader > .htCore > tbody > tr > td.handsontable_opcion  {
  background: #f5f5f5;
}


.handsontable_opcion > .ht_master > .wtHolder > .wtHider > .wtSpreader > .htCore > tbody > tr > td.handsontable_opcion:hover {
  background: #4e5e6d;
  color: white;
}

#site-content[data-theme="light"]
.handsontable_opcion > .ht_master > .wtHolder > .wtHider > .wtSpreader > .htCore > tbody > tr > td.handsontable_opcion:hover {
  background: #cccccc !important;
  color: black;
}

#site-content[data-theme="light"]
.handsontable_opcion > .ht_master > .wtHolder > .wtHider > .wtSpreader > .htCore > tbody > tr > td.current {
  background: #cccccc !important;
  color: black;
}
 

.handsontable_opcion > .ht_master > .wtHolder > .wtHider > .wtSpreader > .htCore > tbody > tr > td.current {
  background: #4e5e6d;
  color: white;
} */

/* ---------------------  button search ----------------------------- */
/* #newIconoLupa-img-2{
  width: 15px;
  margin: 0px 5px;
  margin-top: -1px;
}

#newIconoLupa-img{
  width: 15px;
  margin: 0px 5px;
  float: left;
  margin-top: -1px;
}

.button-iconSearch{
  color: rgb(0 0 0 / 69%);
  border: 0px;
  height: 24px;
  margin: 0px 2px 0px;
  padding: 0px;
  background: transparent;
  line-height: 1.75;
  border-radius: 1px;
  text-transform: none;
  font-weight: bold;
  font-size: 12px;  
}

.button-iconSearch:hover {
  text-decoration: none;
  background-color: rgb(165 165 165 / 27%);
}

.handsontable .htCheckboxRendererInput {
  height: 16px;
  width: 16px;
}

.htCheckboxRendererLabel input.htCheckboxRendererInput {
  margin-right: 5px;
}

Input.htCheckboxRendererInput {  
  accent-color: #768189 !important;
}

.htCheckboxRendererInput:hover {  
  accent-color: #46525b7e;
}

.htDimmed > .htCheckboxRendererInput{  
  accent-color: #43586fb0;
}

#button_iconsBinoculars{
  width: 100%;
  margin: 0px;
  padding: 0px;
  background: transparent;
  border-color: #76ffff00;
  margin: -1px 0px -2px;
}

#button_iconsBinoculars > img{
  margin: -10px 0px -4px !important;
}

.componente-handsontable{
  position: initial;
  background: #374858;
  padding: 0px 0px 16px;
}

#site-content[data-theme="light"]
.componente-handsontable{  
  background: #cccccc;
}

/* multipleheader */
/* .handsontable td, .handsontable th, .handsontable th:last-child {
  border-bottom: 1px solid #b5b1b1;
}

.c-red{
  background-color:#792727;
}

.handsontable tr:has(td.current) {
  background: #4e5e6d;
  color: beige;
}

.handsontable{
  background: #324455;
  border-left: 1px solid #eeeeee30;
  border-bottom: 1px solid #eeeeee30;
  border-right: 1px solid #eeeeee30;
} */
