.Button_CCRENAGR{
  width: 99%;
  height: 88% !important;
  margin: 9px 5px 0px 4px;
  background-color: #ffffff00;
  box-shadow: 0 2px 0 rgb(78 132 175 / 0%);
  color: #727993;
  font-weight: 700;
  border-color: #0a4b55;
}